.selectorContainer {
  position: relative;
  width: 100%;
  width: 300px;
  font-family: Arial, sans-serif;
  border-radius: 4px;
}

.selectedValue {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selectorButton {
  width: 100%;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.selectorButton:hover {
  border-color: #888;
}

.optionsList {
  max-height: 200px;
}
